*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 0.975rem;
  font-family: "Inter", sans-serif;
}
:root {
  /*Colors*/
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  /*Primary */

  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}
body {
  display: flex;

  align-items: center;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;

  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 80rem;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 3rem 0;
}
header img {
  width: 65px;
}
ul {
  display: flex;
  gap: 2rem;
}
ul li {
  list-style: none;
  transition: all 0.3s;
}
ul li:hover {
  color: var(--Soft-red);
  cursor: pointer;
}
main {
  width: 100%;
  display: flex;

  flex-direction: column;

  justify-content: center;
}
.left-wrap img {
  width: 800px;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.left-wrap {
  display: flex;
  flex-direction: column;
  max-width: 51.5rem;
  width: 100%;
}
.under-pic-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 100%;
}
.bot-right-wrap {
  max-width: 23rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.des {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--Dark-grayish-blue);
}
h2 {
  font-size: 3.5rem;
  max-width: 23.5rem;
  width: 100%;
  line-height: 3.5rem;
  color: var(--Very-dark-blue);
}
.article-wrap {
  display: flex;
  flex-direction: column;
}
.read-more-btn {
  max-width: 10rem;
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: var(--Soft-red);
  color: var(--Off-white);
  border: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: all 0.3s;
}
.read-more-btn:hover {
  background-color: var(--Very-dark-blue);
  cursor: pointer;
}
.right-wrap {
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  width: 100%;
  background-color: var(--Very-dark-blue);
  color: white;
  padding: 1rem;
  justify-content: space-between;
}
.right-wrap h3 {
  transition: all 0.5s;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.right-wrap h3:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}
.article-wrap {
  border-bottom: 1px solid var(--Dark-grayish-blue);

  padding-bottom: 1.5rem;
}
.article-wrap:nth-child(4) {
  border-bottom: none;
}
.right-wrap h2 {
  color: white;
  padding-top: 1.5rem;
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  transition: all 0.5s;
}
.right-wrap h2:hover {
  color: var(--Soft-orange);
  cursor: pointer;
}
.article-des {
  color: var(--Dark-grayish-blue);
}
.bot-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.article {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.article img {
  width: 120px;
  height: 120px;
}
.article-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
h4 {
  color: var(--Dark-grayish-blue);
  font-size: 1.9rem;
}
.title {
  font-weight: 700;
  color: var(--Very-dark-blue);
  font-size: 1.2rem;
}
.bot-des {
  max-width: 15rem;
  color: var(--Dark-grayish-blue);
}

.attribution {
  position: absolute;
  bottom: 5px;
}
.toggle-button {
  position: absolute;
  top: 3.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  .top-wrap {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .right-wrap {
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
  }
  .right-wrap h2 {
    width: 30%;
  }
  .article-wrap {
    margin-right: 1rem;
    border-bottom: none;
    border-right: 1px solid var(--Dark-grayish-blue);
  }
  .bot-wrap {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .right-wrap {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    gap: 1rem;
  }
  .article-wrap {
    margin-right: 1rem;
    border-bottom: 1px solid var(--Dark-grayish-blue);
    border-right: none;
  }
  .under-pic-wrap {
    flex-direction: column;
    gap: 1rem;
  }
  h2 {
    font-size: 3rem;
  }
  .article:nth-child(3) .bot-des {
    margin-bottom: 5rem;
  }
}
